name: Hamro Security CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    
    # Backend
    - name: Install Backend
      run: |
        cd backend
        npm install
    - name: Test Backend
      run: |
        cd backend
        npm test
        
    # Frontend
    - name: Install Frontend
      run: |
        cd frontend
        npm install
    - name: Build Frontend
      run: |
        cd frontend
        npm run build --if-present
        